.banner{
    flex: 5;
    padding:0rem 0rem 0rem 1.25rem;
}
.bannerTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannerAddButton{
    width: 6rem;
    border: none;
    padding: 0.3rem;
    background-color: teal;
    border-radius: 0.3rem;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}
.bannerBottom{
    display: flex;
}
.bannerBottomRight {
    flex: 1;
    padding: 2.5rem 1.25rem 0rem 1.25rem;
    margin: 1.25rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.5rem;
}
.bannerForm{
    display: flex;
    justify-content: space-between;
}
.bannerFormLeft{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 15rem;
    height: 18rem;
    column-gap: 2.5rem;


}

.bannerFormLeft>label{
    width: 22rem;
    margin-bottom: 1rem;
    color: gray;
}
.bannerFormLeft>input{
    margin-bottom: 1.5rem;
    width: 22rem;
    border: none;
    padding: 0.4rem;
    border-bottom: 1px solid gray;
}
.bannerFormLeft>select{
    margin-bottom: 1.5rem;
    height: 2rem;

}
.bannerFormLeft>textarea{
    margin-bottom: 1.5rem;
    height: 13rem;

}
.bannerUploadImg{
    width: 13rem;
    height: 13rem;
    border-radius: 0.625rem;
    object-fit: cover;
    margin-right: 1.25rem;
}
.bannerFormRight{
    display: flex;
    flex-direction: column;
}
.bannerUpload{
    display: flex;
    align-items: center;
}
.bannerButton{
    margin-top: 2rem;
    border-radius: 0.3rem;
    border: none;
    padding: 0.3rem;
    cursor: pointer;
    background-color: #33b249;
    color: whitesmoke;
    font-weight: 600;
    font-size: 1rem;
}